:root {
  --color-main-black: #282c3f;
  --color-lite-black: #696b79;
  --color-main-red: #ff5722;
  --color-lite-red: #d889703b;
  --color-border-greay: #e9e9ed;
  --color-lite-greay: #f8f8fb;
  --color-white: #ffff;
  --color-lite-green: #489d07;
  --color-yellow: #f9e10a;
}

/* header  */
.navbar-wrapper {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-main-black);
  margin-left: 15px;
  font-weight: 500;
}
.nav-links:hover {
  color: var(--color-main-red);
}

.logo-img {
  width: 140px;
}
/* header  */

/* banner */
.all-in-one-banner {
  display: none;
}
.banner-wrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.single-banner {
  width: 32%;
  border-radius: 10px;
  overflow: hidden;
}
.banner-headline {
  font-weight: 400;
  font-family: 'Barlow', sans-serif !important;
  color: #ffff;
}
.banner-headline-span {
  color: var(--color-main-red);
  font-weight: 500;
}
.banner-text {
  font-family: 'Barlow', sans-serif !important;
  color: #ffff;
}
/* banner */

/* service */
.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  min-height: 120px;
}
.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color-lite-greay);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.service-icon {
  margin-bottom: 10px;
  color: var(--color-main-black);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
.service-text {
  color: var(--color-main-black);
  font-weight: 400;
}
/* service */

/* map  */
.map-div {
  margin-top: 15px;
}
.map-frame {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
/* map  */

/* contact form  */
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  color: var(--color-main-black);
  font-weight: 400;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.contact-input,
.contact-textarea {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-border-greay);
}

/* contact form  */

/* footer  */
footer {
  background-color: var(--color-lite-greay);
}

.footer-txt {
  color: var(--color-main-black);
  font-weight: 300;
}

.text-reset {
  text-decoration: none;
}
.social-icons {
  color: var(--color-main-black);
}
.social-section {
  border-bottom: 1px solid var(--color-lite-black);
}
/* footer  */

/* feature product */

.feature-title {
  font-weight: 300;
  color: var(--color-main-black);
}
/* feature product */

/* card  */
.card-div {
  display: flex;
  justify-content: space-around;
}
.card-wrapper {
  width: 350px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  overflow: hidden;
}
.card-img-div {
  width: 350px;
  height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-content-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-headline {
  font-weight: 400;
  color: var(--color-main-black);
  text-decoration: none;
}
.card-price {
  font-weight: 300;
  color: var(--color-lite-black);
  text-decoration: none;
}
Link,
a {
  text-decoration: none !important;
  color: var(--color-main-black) !important;
}

/* card  */

/* card two  */
.grid-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-two-wrapper {
  width: 220px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.card-two-img-div {
  width: 220px;
  height: 240px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-txt-cat {
  background-color: var(--color-white);
  color: var(--color-main-black);
  position: relative;
  margin: 0;
  padding: 0;
  top: 194px;
  left: 14px;
  padding: 4px 8px;
  border-radius: 5px;
  max-width: fit-content;
}
.card-two-content-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card-two-headline {
  font-weight: 400;
  color: var(--color-main-black);
  text-decoration: none;
}
.card-two-price {
  font-weight: 300;
  color: var(--color-lite-black);
  text-decoration: none;
}

/* card two */

/* page navigation */
.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-lite-greay);
  border-radius: 10px;
}
.nav-text {
  margin: 0;
  padding: 0;
  color: var(--color-main-black);
  font-weight: 300;
}
.nav-icn {
  color: var(--color-lite-black);
  margin: 0px 10px;
}
.nav-last-txt {
  margin: 0;
  padding: 0;
  color: var(--color-main-red);
  font-weight: 300;
  text-transform: capitalize;
}
/* page navigation */

/* single products  */
.single-product-wrapper {
  display: flex;
}
.single-pdt-img-div {
  width: 50%;
}
.single-pdt-content-div {
  width: 50%;
}
.pdt-single-span-txt {
  color: var(--color-lite-green);
  font-weight: 600;
}
.sgl-pdt-txt {
  font-weight: 300;
  color: var(--color-main-black);
}
.sgl-pdt-headline {
  font-weight: 300;
  color: var(--color-main-black);
  text-transform: capitalize;
}
/* single products  */
/* Single Product Image */
.img-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-list-div {
  width: 21%;
  height: 500px;
}
.single-img-div {
  width: 110px;
  height: 110px;
  margin: 12px;
}
.big-img-div {
  width: 79%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-img {
  width: 110px;
  height: 110px;
}
.big-img {
  width: 400px;
  height: 400px;
}
/* Single Product Image */
/* star icon */
.star-icon {
  color: var(--color-yellow);
}
.star-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.star-txt {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  color: var(--color-lite-black);
  font-weight: 300;
}
/* star icon */
/* product color section  */
.color-btn {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  margin-right: 10px;
  opacity: 0.6;
  cursor: pointer;
}
.color-btn:hover {
  opacity: 1;
}
.active {
  opacity: 1;
}
.colors-div {
  display: flex;
  align-items: center;
}
.color-txt {
  margin: 0;
  padding: 0;
  color: var(--color-lite-black);
  font-weight: 300;
}
.color-btn-div {
  margin-left: 15px;
}
.check-icon {
  color: var(--color-white);
  width: 10px;
  padding-bottom: 5px;
}
/* product color section  */
/* cart quantity */
.cart-qty-div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.plus-minus-btn {
  border: 2px solid var(--color-border-greay);
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 5px;
}
.plus-minus-btn:hover {
  background-color: black;
  color: var(--color-white);
}
.plus-minus-icon {
  width: 12px;
}
.cart-qty-txt {
  margin: 0px 10px;
  color: var(--color-lite-black);
  font-weight: 300;
}
/* cart quantity */

/* product page */
.product-page-wrapper {
  display: flex;
}
.filter-div {
  width: 20%;
}
.product-page-content-div {
  width: 80%;
}

/* product page */
/* list view  */
.list-wrapper {
  display: flex;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.list-img-div {
  width: 25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.list-txt-cat {
  background-color: var(--color-white);
  color: var(--color-main-black);
  position: relative;
  margin: 0;
  padding: 0;
  top: 14px;
  left: 14px;
  padding: 4px 8px;
  border-radius: 5px;
  max-width: fit-content;
}
.list-content-div {
  width: 75%;
  padding: 15px;
}
.list-headline {
  color: var(--color-main-black);
  font-weight: 500;
}
.list-price {
  color: var(--color-main-black);
  font-weight: 300;
}
.list-txt {
  color: var(--color-main-black);
  font-weight: 300;
}
/* list view  */
/* sort  */
.modal-btn {
  display: none;
}

.sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-lite-greay);
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0px;
}
.grid-list-div {
  display: block;
  align-items: center;
}

.sort-txt {
  color: var(--color-main-black);
  font-weight: 300;
}
.option-div {
}
.main-select {
  border: 1px solid var(--color-lite-black);
  padding: 5px;
  border-radius: 10px;
}
.option-list {
  padding: 10px !important;
}
.grid-list-btn {
  border: 2px solid var(--color-border-greay);
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 0 5px 3px 5px;
}
.grid-list-icn {
  padding: 0;
  margin: 0;
}

.grid-list-btn:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
}
.active-btn {
  background-color: var(--color-main-black);
  color: var(--color-white);
}

/* sort  */
/* filter section  */
.fiter-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  border: 1px solid var(--color-border-greay);
  padding: 15px;
  margin-right: 10px;
  border-radius: 15px;
}
.fiter-modal-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  border: 1px solid var(--color-border-greay);
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
}
.filter-search-input {
  width: fit-content;
  border: 1px solid var(--color-lite-black);
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
}
.filter-category-div {
}
.filter-headline {
  color: var(--color-main-black);
  font-weight: 300;
}
.filter-btn {
  background-color: var(--color-white);
  color: var(--color-main-black);
  border: 1px solid var(--color-lite-black);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: medium;
  margin-right: 5px;
  margin-bottom: 5px;
}
.filter-btn-active {
  background-color: var(--color-main-black);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: medium;
  margin-right: 5px;
  margin-bottom: 5px;
}
.filter-btn:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
  border: none;
}
.filter-color-btn-div {
  display: flex;
  flex-wrap: wrap;
}
.filter-color-btn {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid var(--color-lite-black);
  margin-right: 10px;
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 10px;
}
.filter-all-btn {
  border: 1px solid var(--color-lite-black);
  border-radius: 10px;
  padding: 0px 10px;

  background-color: var(--color-white);
  color: var(--color-main-black);
  margin-right: 10px;
  margin-bottom: 10px;
}
.filter-all-btn:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
}
.filter-color-btn:hover {
  opacity: 1;
}
.active-color {
  opacity: 1;
}
.filter-txt {
  color: var(--color-main-black);
  font-weight: 300;
}

/* filter section  */

/* media querry */
@media only screen and (max-width: 1200px) {
  .filter-search-input {
    width: 150px;
  }
  .img-main-div {
    flex-direction: column;
  }
  .img-list-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
  }
  .big-img-div {
    width: 100%;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 990px) {
  .modal-btn {
    display: inline;
  }
  .product-page-content-div {
    width: 100%;
  }
  .sort-txt {
    display: none;
  }
  .product-page-wrapper {
    flex-direction: column;
  }
  .fiter-section {
    display: none;
  }
  .filter-search-input {
    width: 130px;
  }
  .logo-img {
    width: 120px;
  }
  .card-div {
    flex-wrap: wrap;
  }
  .card-wrapper {
    margin-bottom: 15px;
  }
  .nav-links {
    padding: 8px;
  }
  .banner-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .single-banner {
    display: none;
  }
  .all-in-one-banner {
    border-radius: 10px;
    overflow: hidden;
    display: block;
  }
  .carousel-text-wrapper {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  .single-product-wrapper {
    flex-direction: column;
  }
  .single-pdt-img-div {
    width: 100%;
  }
  .single-pdt-content-div {
    width: 100%;
  }
  .big-img-div {
    justify-content: center;
  }
  .img-list-div {
    justify-content: center;
  }
  .big-img {
    margin-bottom: 20px;
  }
  .list-wrapper {
    flex-direction: column;
  }
  .list-img-div {
    width: 100%;
    height: 250px;
  }
  .list-content-div {
    width: 100%;
  }

  /* change bootstrap styles */
  .carousel-caption {
    bottom: 0 !important;
    padding: 0 !important;
    text-align: end !important;
    right: 0 !important;
    left: 0 !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 770px) {
  .grid-div {
    justify-content: space-around;
  }
  .logo-img {
    width: 100px;
  }
  .service-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
  }
  .service-content {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-wrapper {
    width: fit-content;
  }
  .single-img-div {
    width: 80px;
    height: 80px;
    margin: 8px;
  }

  .single-img {
    width: 80px;
    height: 80px;
  }
  .big-img {
    width: 280px;
    height: 280px;
  }
}

/* change bootstrap styles */
/* baner */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  display: none !important;
}

/* button  */
.buttonOne {
  background-color: var(--color-main-red);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

.buttonOne:hover {
  background-color: var(--color-white);
  color: var(--color-main-red);
  border: 1px solid var(--color-main-red);
}
.add-cart-btn {
  background-color: var(--color-main-red);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  margin-top: 15px;
}
.add-cart-btn:hover {
  background-color: var(--color-white);
  color: var(--color-main-red);
  border: 1px solid var(--color-main-red);
}
.view-btn {
  background-color: var(--color-white);
  color: var(--color-main-black);
  border: 1px solid var(--color-lite-black);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: medium;
}
.view-btn:hover {
  background-color: var(--color-main-black);
  color: var(--color-white);
  border: none;
}
/* button  */
hr {
  color: var(--color-lite-black) !important;
}

/* input range  custom style */
input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--color-main-red);
  margin-top: -6px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.loading-img {
  width: 66px;
}
/* input range  custom style */
